* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    padding: 48px 0;
    width: 70%;
    display: flex;
    gap: 16px;
}

.left, 
.right {
    width: 50%;
   
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.form-container {
    width: 100%;
}

.weather-form input{
    width: 50%;
}

.current-weather {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.curr-weather-card{
    display: flex;
    flex-direction: column;
}

.curr-weather-temp {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 1.7rem;
}

.weather-icon {
    height: 30px;
    width: 30px;
}

.temp {
    display: flex;
    gap: 4px;
}

.feelslike {
    font-size: 1.2rem;
}

.location {
    font-size: 1.3rem;
}

.timezone {
    font-size: 1.1rem;
}

.wind-humidity {
    display: flex;
    gap: 4px;
    font-size: 1.1rem;
    margin-top: 8px;
}

.curr-info-section {
    margin-top: 12px;
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.sun,
.uv-index {
    border: 1px solid;
    border-radius: 15px;
    padding: 16px;
}

.hourly-card,
.forecast-card {
    height: fit-content;
    width: 100%;
    border: 1px solid;
    border-radius: 15px;
    padding: 18px 18px 2px 18px;
}

.hourly-container,
.forecast-container {
    border-top: 1px solid;
    margin-top: 4px;
    padding-bottom: 8px;
}

.alerts {
    margin-bottom: 16px;
    padding: 4px 8px;
}



